airtest==1.2.3
allure-pytest==2.9.45
allure-python-commons==2.9.45
altgraph==0.17.2
attrs==21.2.0
Automat==20.2.0
cached-property==1.5.2
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.7
constantly==15.1.0
cryptography==35.0.0
cssselect==1.1.0
decorator==5.1.0
Deprecated==1.2.13
docker==3.7.3
docker-compose==1.23.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
facebook-wda==1.4.3
gitdb==4.0.9
GitPython==3.1.24
h2==3.2.0
hpack==3.0.0
hrpc==1.0.8
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.7
incremental==21.3.0
iniconfig==1.1.1
itemadapter==0.4.0
itemloaders==1.0.4
Jinja2==3.0.2
jmespath==0.10.0
jsonschema==2.6.0
lxml==4.6.3
macholib==1.15.2
MarkupSafe==2.0.1
mss==4.0.3
nose==1.3.7
numpy==1.19.3
opencv-contrib-python==4.5.4.58
opencv-python==4.5.4.58
packaging==21.0
parsel==1.6.0
Pillow==8.4.0
pluggy==1.0.0
poco==0.97.0
pocoui==1.0.84
priority==1.3.0
Protego==0.1.16
py==1.10.0
pyaml==21.10.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
PyGithub==1.55
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
PyJWT==2.3.0
PyNaCl==1.4.0
pyOpenSSL==21.0.0
pyparsing==3.0.3
pytest==6.2.5
python-dateutil==2.8.2
python-gitlab==1.15.0
python-xlib==0.31
pywinauto==0.6.3
PyYAML==3.13
queuelib==1.6.2
requests==2.20.1
retry==0.9.2
Scrapy==2.5.1
service-identity==21.1.0
six==1.16.0
smmap==5.0.0
svn==1.0.1
texttable==0.9.1
toml==0.10.2
Twisted==21.7.0
typing-extensions==3.10.0.2
urllib3==1.24.3
w3lib==1.22.0
websocket-client==0.48.0
wrapt==1.13.2
xlrd==2.0.1
zope.interface==5.4.0
